<%= render :partial => "shared/breadcrumbs", :locals => {
  :crumbs => @taxon.children.empty? ? [{:path => seo_url(@taxon.parent), :name => @taxon.parent.name}] : [],
  :location => accurate_title
} %>

<h1><%= accurate_title %></h1>

<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
    <%= render(:partial => "shared/filters") if @taxon.children.empty? %>
  <% end %>
<% end %>

<% if @taxon.children.empty? || !params[:keywords].blank? %>
  <%= hook :taxon_products do %>
    <%= render :partial => "shared/products", :locals => {:products => @products, :taxon => @taxon } %>
  </ul>
  <% end %>
<% else %>
  <%= hook :taxon_children do %>
    <ul class="thumbnails">
      <%= render :partial => "taxon", :collection => @taxon.children %>
    </ul>
  <% end %>
<% end %>