<%= render "shared/error_messages", :target => @user %>
<div id="registration" class="row">
  <% if Spree::Config[:allow_guest_checkout] %>
    <div id="guest_checkout" class="span5">
      <%= render "shared/error_messages", :target => @order %>
      <%= form_for @order, :url => update_checkout_registration_path, :html => {:method => :put, :id => "checkout_form_registration"} do |f| %>
        <fieldset>
          <legend><%= t(:guest_user_account) %></legend>
          <div class="control-group">
            <%= f.label(:email, t("email"), :class => "control-label") %>
            <div class="controls">
              <%= f.text_field :email %>
            </div>
          </div>

          <%= submit_tag t("continue"), :disable_with => t(:wait), :class => 'submit btn btn-primary' %>
        </fieldset>
      <% end %>
    </div>
  <% end %>

  <div id="account" class="span7">
    <%= render "shared/login" %>
  </div>
</div>